%h4 HOCOMOCO API

%p
  HOCOMOCO allows for JSON APIs requests. Basically it's enough to add 
  %b .json
  extension to an URL.

%h4 Get motif details
%p
  To get information about a motif
  = succeed ',' do
    %code MotifID
  send a request
  %code hocomoco.autosome.ru/motif/{MotifID}.json
%p
  If you need to get PCM / PWM add 
  %code with_matrices
  parameter.
  %code with_thresholds
  parameter gives you additionally a list of precalculated P-values for different PWM scores.
%p
  Try
  %code hocomoco11.autosome.ru/motif/{MotifID}.json?with_matrices=true&with_thresholds=true
  to get a full list of motif information.

%h4 Get motif list
%p
  One can get a list of all motifs (only MotifIDs) in a collection by sending a request
  %code hocomoco11.autosome.ru/{species}/{arity}.json
%p
  %code species
  can be either
  %code human
  or
  %code mouse
  \.
%p
  %code arity
  can be either
  %code mono
  for mononucleotide models
  or
  %code di
  for dinucleotide.
%p
  By default only core high-quality models are shown. Add 
  %code ?full=true
  if you want D-quality models and alternative binding motifs to be listed.
%p  
  Request
  %code hocomoco11.autosome.ru/{species}/{arity}.json?summary=true
  gives some additional information which can be useful to organize search through motif and gene names, TF family and subfamily names.

%h4 Motif search
%p
  Use the following request
  %code hocomoco11.autosome.ru/search.json?arity={arity}&species={species}&query={query}
  to search for a motif across `full_name` (MotifID), `motif_families` and `gene_names` fields.
  Any regexp can be given as a query.
%p
  %code hocomoco11.autosome.ru/search?family_id={TFClass id}
  returns a list of motifs from a TFClass group specified by TFClass id.
