%h1 Downloads
%ul
  %li
    ChIP-Seq peaks used for motif discovery:
    = succeed '.' do
      = link_to 'here', 'https://yadi.sk/d/5vA1oBv-j39fc'
  %li
    ChIP-Seq peaks used for benchmark:
    = succeed '.' do
      = link_to 'here', 'https://yadi.sk/d/K4-TjHAtj39iP'
