.database_description
  %p
    HOmo sapiens COmprehensive MOdel COllection (HOCOMOCO) contains transcription factor (TF) binding models obtained by careful integration of data from different sources.
  %p
    HOCOMOCO v10 contains non-redundant curated binding models for 601 human and 396 mouse TFs.
  %p
    In addition to basic mononucleotide position weight matrices (PWMs), HOCOMOCO now provides a set of dinucleotide position weight matrices based on ChIP-Seq data.
  %p
    All the models were produced by the #{link_to 'ChIPMunk', 'http://autosome.ru/ChIPMunk/'} motif discovery tool. Model quality ratings are based on a comprehensive benchmark study or inherited from #{link_to 'HOCOMOCO v9', 'http://autosome.ru/HOCOMOCO/'}. With the last update the matrices for mouse TFs are provided in a systematic way.
