// .graphical_menu {
//   display: inline-block;
//   vertical-align: top;
//   width: 65%;
// }

.description{
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-top: 25px;
  border: 1px solid #a7a7a7;
  padding: 10px;
  border-radius: 20px;
}

.database_description{
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin-top: 25px;
  border: 1px solid #a7a7a7;
  padding: 10px;
  border-radius: 20px;
}

// #main_scheme_png_stub{
//   display: inline-block;
//   background-image: image-url('http://epigene-db.appspot.com/images/main_scheme_100dpi.png');
//   background-size: 475px 610px;
//   margin-left: 50px;
//   width: 475px;
//   height: 610px;
// }

ul {
  ul {
    list-style-type: disc;
  }
}

// g.histone, g.epigene, g.pseudocomplex {
//   cursor: pointer;
// }
