span.total_tfs {
  font-weight: bolder;
  color: #0074FF;
}

span.covered_tfs {
  font-weight: bolder;
  color: #FFA500;
}

.node circle {
  stroke-width: 0;
  &.total_tfs {
    fill: #0074FF;
    border: none;
    box-sizing: content-box;
  }
  &.covered_tfs {
    fill: #FFA500;
    border: none;
    box-sizing: content-box;
  }
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 210px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    background: #efc;
    border: 2px solid darkgray;
    border-radius: 8px;
    pointer-events: none;
    a, a:visited, a:hover {
      color: red;
    }
}
