.bg-gray {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.navbar.navbar-light {
  font-family: 'trebuchet ms', verdana, arial;
  color: #777;
  .navbar-brand {
    font-size: 18px;
    color: #777;
  }
}

.navbar {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;

  .navbar-nav {
    width: 100%;
  }
  .navbar-nav > li.dropdown.show {
    background-color: #e7e7e7;
  }

  .navbar-collapse:not(.show) {
    .nav-item {
      margin-left: 5px;
      margin-right: 5px;
      > a {
        padding-top: 16px;
        height: 48px;
      }
    }
  }
  .navbar-collapse.show {
    .nav-item {
      margin-top: 2px;
      margin-bottom: 2px;
      padding: 0;
      .dropdown-menu {
        padding: 4px 4px;
      }
      a {
        height: 24px;
        padding: 4px;
      }
    }
    padding-bottom: 8px;
  }

  .navbar-brand {
    height: 48px;
  }

  form {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  input, select, button.btn-hocomoco-search {
    height: calc(1.5rem + 2px);
  }

  select {
    padding: .175rem 1.75rem .175rem .75rem;
  }

  button.btn-hocomoco-search {
    padding: .075rem .75rem .275rem .75rem;
  }

  .hocologo {
    margin-top: -5px;
    margin-left: -10px;
    width: 59px;
    height: 48px;
  }
}

.caption {
  display: inline-block;
  padding-top: 4px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
