.fantom-external-link {
  font-size: 0.7em;
}

table.sample-expressions {
  th.molecule_kind {
    width: 120px;
  }
  th.hgnc_symbol {
    width: 150px;
  }
  th.hgnc_id {
    width: 100px;
  }
}

table#samples {
  .sample_kind {
    width: 100px;
  }
}

table.gene_expression_by_sample {
  .sample_kind {
    width: 100px;
  }
}
