#column-selector-target {
  label {
    input[type="checkbox"] {
      margin-right: 3px;
    }
    text-align: left;
    display: block;
    width: 100%;
  }
}

// a button.full_core_collection {
//   color: black;
// }

table.tablesorter {
  // box-sizing: content-box; // resizable widget requires this option
  .tablesorter-filter-row {
    height: 28px;
  }

  &#motifs {
    th, td {
      &.comment{
        min-width: 350px;
        max-width: 450px;
      }
      &.motif-family, &.motif-subfamily {
        min-width: 170px;
        max-width: 170px;
      }
      &:not(.comment):not(.sequence_logo) {
        // min-width: 150px;
        // max-width: 300px;
      }
    }
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: lightgray;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: lightgray;
    opacity: 1;
  }
}

table:not(.tablesorter) {
  tr, td {
    border-color: #a7a7a7;
  }
}

table.key_value_info {
  width: 100%;
  font-size: medium;
  td {
    padding: 5px;
    border: 1px solid darkgray;
  }
  td:first-child {
    width: 25%;
    font-weight: bolder;
  }
  td:last-child {
    width: 75%;
  }
}

// Grouping widget style begin
tr.group-header td {
  background: #eee;
}
.group-name {
  text-transform: uppercase;
  font-weight: bold;
}
.group-count {
  color: #999;
}
.group-hidden {
  display: none !important;
}
.group-header, .group-header td {
  user-select: none;
  -moz-user-select: none;
}
/* collapsed arrow */
tr.group-header td i {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid #888;
  border-right: 4px solid #888;
  border-left: 4px solid transparent;
  margin-right: 7px;
  user-select: none;
  -moz-user-select: none;
}
tr.group-header.collapsed td i {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #888;
  border-right: 0;
  margin-right: 10px;
}
// Grouping widget style end
