#column-selector-target {
  label {
    text-align: left;
    display: block;
    width: 100%;
  }
}

table.tablesorter {
  // box-sizing: content-box; // resizable widget requires this option
  .tablesorter-filter-row {
    height: 28px;
  }

  &#motifs {
    th, td {
      &.comment{
        min-width: 350px;
        max-width: 450px;
      }
      &.splitted_terms_filter, &.uniprot_id_comb {
        min-width: 220px;
        max-width: 250px;
      }
      &:not(.comment):not(.splitted_terms_filter):not(.uniprot_id_comb):not(.sequence_logo) {
        // min-width: 150px;
        // max-width: 300px;
      }
    }
  }
}

table.gene_expression_by_sample {
  th.expression_bar {
    min-width: 500px;
  }
}

table:not(.tablesorter) {
  tr, td {
    border-color: #a7a7a7;
  }
}

table.key_value_info {
  width: 100%;
  td {
    padding: 5px;
    border: 1px solid darkgray;
  }
  td:first-child {
    width: 25%;
    font-weight: bolder;
  }
  td:last-child {
    width: 75%;
  }
}

table.expression_statistics {
  width: 100%;
  margin: 20px 0;
  tr:first-child td {padding-top: 10px;}
  tr:last-child td {padding-bottom: 10px;}
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.expression-bar {
  background-color: red;
  height: 7px;
}

// Grouping widget style begin
tr.group-header td {
  background: #eee;
}
.group-name {
  text-transform: uppercase;
  font-weight: bold;
}
.group-count {
  color: #999;
}
.group-hidden {
  display: none !important;
}
.group-header, .group-header td {
  user-select: none;
  -moz-user-select: none;
}
/* collapsed arrow */
tr.group-header td i {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid #888;
  border-right: 4px solid #888;
  border-left: 4px solid transparent;
  margin-right: 7px;
  user-select: none;
  -moz-user-select: none;
}
tr.group-header.collapsed td i {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #888;
  border-right: 0;
  margin-right: 10px;
}
// Grouping widget style end
