.description{
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-top: 25px;
  border: 1px solid #a7a7a7;
  padding: 10px;
  border-radius: 20px;
}

.database_description{
  display: inline-block;
  // vertical-align: top;
  // width: 25%;
  margin-top: 5px;
  border: 1px solid #a7a7a7;
  padding: 10px;
  border-radius: 20px;
}

.attention-box {
  &.help-page {
    margin-left: 20%;
    width: 40%;
  }
  &.welcome-page {
    width: 100%;
  }
  &.downloads-page {
    clear: right;
    width: 25%;
    float: right;
  }
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #a7a7a7;
  padding: 10px;
  border-radius: 20px;
  background-color: #e55;
}

.contacts {
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-top: 5px;
  border: 1px solid #a7a7a7;
  padding: 10px;
  border-radius: 20px;
}

.pageheader {
  display: inline-block;
  font-size: large;
  width: 20%;
  margin: 0 0 15px 0;
}

ul {
  ul {
    list-style-type: disc;
  }
}

.expand {
  .toggle {
    margin-top: 0;
    padding-top: 0;
    font-weight: bolder;
    cursor: pointer;
    text-align: right;
  }
  .show-content {
    display: block;
  }
  .hide-content {
    display: none;
  }
}

.mirrors {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;

  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  .mirror {
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    // display: -webkit-inline-flex;
    // display: flex;
  }
}

.wrap_description {
  display: inline-block;
  width: 25%;
  padding: 0;
  margin: 0;
  border: 0;
}

.citation {
  border: 1px solid darkgray;
  padding: 10px;
  // width: 25%;
  margin-bottom: 5px;
  background-color: lightyellow;
  border-radius: 15px;
  .title, p:last-child {
    margin-bottom: 0;
  }
}

#motif_families_map {
  vertical-align: top;
  padding: 5px 10px;
  // padding:0;
  margin: 0;
  border: 0;
  width: 65%;
  display: inline-block;
}

.tech_notes {
  font-size: 0.75em;
}

.help_container {
  width: 60%;
  padding: 20px 0;
  margin-left: 130px;
  text-align: justify;
}

.section_header {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  display: block;
  color: black;
}
